body{
    background-image: url(../imagens/imagem6.jpg) ;
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    background-position: center;
    background-size:cover ;
    font-size: 17px;
    color: azure;
}
.sem{
    float: left;
    width: 230px;
    /* border: 1px blue solid; */
    color:blue;
    
    
}
.di1{

    /* float: left; */
    height: 280px;
    padding:50px 0px 10px 0px;
    /* border:1px red solid; */
}
